In [45]:
print('Hello World')

Hello World


Mutable and Immutable

In [46]:
#Mutable
#list
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the list in-place
print(my_list)
#Dictionaries
my_dict = {'a': 1, 'b': 2}
my_dict['c'] = 3  # Modifies the dictionary in-place
print(my_dict)
#Immutable
# Strings
my_string = "Hello"
new_string = my_string + " World"  # Creates a new string
print(my_string)  # Output: "Hello"
print(new_string)
# Tuples
my_tuple = (1, 2, 3)
# my_tuple[0] = 4  # This will raise an error

[1, 2, 3, 4]
{'a': 1, 'b': 2, 'c': 3}
Hello
Hello World

In [47]:
#Python Arithmetic Operators
#Addition
a=2
b=3
print("Addition: "+str(a+b))
#Subtraction
print("Subtraction: "+str(a-b))
#Multiplication
print("Multiplication: "+str(a*b))
#Division
print("Division: "+str(a/b))
#Modulus
print("Modulus: "+str(a%b))
#Exponentiation
print("Exponentiation: "+str(a**b))
#Floor division
print("Floor division: "+str(a//b))

Addition: 5
Subtraction: -1
Multiplication: 6
Division: 0.6666666666666666
Modulus: 2
Exponentiation: 8
Floor division: 0

##Input Function

In [48]:
# Write a Program to input 2 numbers & print their sum.
x=int(input("Enter the number:"))
y=int(input("Enter the 2nd number:"))
print("Sum: "+str(x+y))

Sum: 11

In [49]:
# • WAP to input side of a square & print its area.
side=int(input("Enter the side of a square: "))
area_Of_Square=side*side
print(area_Of_Square)

16

In [50]:
# • WAP to input 2 floating point numbers & print their average.
x=float(input("Enter the number:"))
y=float(input("Enter the 2nd number:"))
Average=(x+y)/2
print("Average: "+str(Average))

Average: 5.5

In [51]:
# • WAP to input floating point numbers & print their average.
# Input a list of numbers as a comma-separated string
number = input("Enter a list of numbers separated by commas: ").split(',')

# Convert the string list to a list of integers
number = [int(x) for x in number]

# Initialize sum
sum = 0

# Iterate through the list to calculate the sum
for i in range(len(number)):
    sum += number[i]

# Print the result
print(sum)


Average=(sum)/len(number)
print("Average: "+str(Average))

5
Average: 5.0

In [52]:
# Input a list of numbers as a comma-separated string
number = input("Enter a list of numbers separated by commas: ").split(',')

# Convert the string list to a list of integers
number = [int(x) for x in number]

# Initialize sum
sum = 0

# Iterate through the list to calculate the sum
for i in range(len(number)):
    sum += number[i]

# Print the result
print(sum)

1

In [53]:
# • WAP to input 2 int numbers, a and b.
x=(input("Enter the number:"))
y=(input("Enter the 2nd number:"))
print("Input Number is: "+(x)+(y))

Input Number is: 65

In [54]:
# • Print True if a is greater than or equal to b. If not print False.
x=(input("Enter the number:"))
y=(input("Enter the 2nd number:"))
print(x>=y)

True

In [55]:
x, y, z = "Orange", "Banana", "Cherry"
print(x,y,z)

Orange Banana Cherry

##List

In [56]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

##Dictionaries

In [57]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

Mustang

In [58]:
thisdict =	{"brand": "Ford","model": "Mustang","year": 1964}
x = thisdict.get("model")
y = thisdict.keys()
print(y)

dict_keys(['brand', 'model', 'year'])

##Array

In [59]:
cars = ["Ford", "Volvo", "BMW"]
print(cars)
#Number of elements
x = len(cars)
print(x)
#Print each item
for x in cars:
  print(x)

['Ford', 'Volvo', 'BMW']
3
Ford
Volvo
BMW

In [60]:
rows=5
for i in range(1,rows+1):
  print(' '*(rows-i)+'*'*(2*i-1))

    *
   ***
  *****
 *******
*********

In [61]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [62]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)
for key,value in y.items():
  print(key,":",value)
# the result is a Python dictionary:
print(y["age"])

name : John
age : 30
city : New York
30

In [63]:
'''String is a datatype store a sequence of character
length of string: len(str)

string Indexing: it indecates the renge of the slice using strting index and ending index
(imp)


'''
# str_1="Rohan"
# last_letter=str_1[1:]
# print(last_letter)
# next_name="s"+last_letter
# # next_name = "s" not allow
# print(next_name)

'''
Input():  This statement is use to take values from the user.
i.e : x=input("Enter your name")
      print(x)

split(): Split the string into sub string if it finds the instances of the seprator.
'''
# a="Hello World"
# print(a.split(","))
'''
LIst : It used to store multiple items in a single variable
      list are specifide in[]
      list item are ordered , changeable and allow duplicate

'''
marks = [87,99,33,22,56]
print(marks)
marks[0]= "rohit"
print(marks)
print(marks.append(4))
# marks.sort(reverse=True)
marks.insert(2,34)
print(marks)

[87, 99, 33, 22, 56]
['rohit', 99, 33, 22, 56]
None
['rohit', 99, 34, 33, 22, 56, 4]

In [64]:
'''
LIst : It used to store multiple items in a single variable
      list are specifide in[]
      list item are ordered , changeable and allow duplicate value
'''

'\nLIst : It used to store multiple items in a single variable\n      list are specifide in[]\n      list item are ordered , changeable and allow duplicate value\n'

In [65]:
a=[1,2,3,4]
b=[5,6]
a[0]="i"
print(a)
# a.ap
print(a)

['i', 2, 3, 4]
['i', 2, 3, 4]

In [66]:
# Sample list
my_list = [10, 20, 30, 40, 50]

# 1. append(): Adds an element at the end of the list
my_list.append(60)
print("After append(60):", my_list)

# 2. clear(): Removes all the elements from the list
temp_list = my_list.copy()  # Creating a copy for the demonstration
temp_list.clear()
print("After clear():", temp_list)

# 3. copy(): Returns a copy of the list
copied_list = my_list.copy()
print("Copy of my_list:", copied_list)

# 4. count(): Returns the number of elements with the specified value
count = my_list.count(20)
print("Count of 20 in my_list:", count)

# 5. extend(): Add elements of another list (or iterable) to the end of the current list
my_list.extend([70, 80])
print("After extend([70, 80]):", my_list)

# 6. index(): Returns the index of the first element with the specified value
index = my_list.index(30)
print("Index of 30 in my_list:", index)

# 7. insert(): Adds an element at the specified position
my_list.insert(2, 25)
print("After insert(2, 25):", my_list)

# 8. pop(): Removes the element at the specified position (default: last)
popped_element = my_list.pop(2)
print("After pop(2):", my_list, "Popped element:", popped_element)

# 9. remove(): Removes the item with the specified value
my_list.remove(40)
print("After remove(40):", my_list)

# 10. reverse(): Reverses the order of the list
my_list.reverse()
print("After reverse():", my_list)

# 11. sort(): Sorts the list
my_list.sort()
# print("After sort():", my_list)

After append(60): [10, 20, 30, 40, 50, 60]
After clear(): []
Copy of my_list: [10, 20, 30, 40, 50, 60]
Count of 20 in my_list: 1
After extend([70, 80]): [10, 20, 30, 40, 50, 60, 70, 80]
Index of 30 in my_list: 2
After insert(2, 25): [10, 20, 25, 30, 40, 50, 60, 70, 80]
After pop(2): [10, 20, 30, 40, 50, 60, 70, 80] Popped element: 25
After remove(40): [10, 20, 30, 50, 60, 70, 80]
After reverse(): [80, 70, 60, 50, 30, 20, 10]

In [67]:
t="My Program"
print(t[::-1])
print(f"The sum of two numbers: {2+4}")  # f is for formating

margorP yM
The sum of two numbers: 6

In [68]:
'''
Dictionary unorder form of data in which value are store
case sensetive   , not allow duplicate value, allow any type of value,
'''
dict= {'Name':'Shiwam','Roll No': 58, 'class':"Ml" , 'Marks':[12,13,14,15]}   # Creating a dict  , List And Tupl Can be used in one key pf dict
print(dict)
print(dict['Roll No'])  # Accessing
#Constructor
# dict_1=dict({'Name':'Shiwam','Roll No': 58, 'class':"Ml" , 'Marks':[12,13,14,15]})
# print(dict_1)
#Access throuh key
print(dict["Name"])
#Access using get method
print(dict.get("Name"))

print(dict.keys())
print(dict.values())

{'Name': 'Shiwam', 'Roll No': 58, 'class': 'Ml', 'Marks': [12, 13, 14, 15]}
58
Shiwam
Shiwam
dict_keys(['Name', 'Roll No', 'class', 'Marks'])
dict_values(['Shiwam', 58, 'Ml', [12, 13, 14, 15]])

In [69]:
# from pickle import DICT
'''
Store the following wordmeaning in python dict
d= {"table": "A pice of Furniture", "list of facts" ,  "cat":"a small animal"}
'''
# d= {"table": "A pice of Furniture""list of facts" ,  "cat":"a small animal"}
# print(d)

'''
Write a program to enter marks of three subject from the user and store them in a dict

'''
# a=input("Enter the 1st subject: ")
# b=input("Enter the 2nd subject: ")
# c=input("Enter the 3rd subject: ")
# dict={"science":a, ""}
# marks = input("Enter the marks of three Subject").split(",")
# dict={"math, engls,science":marks}
# print(dict)

# create a dict and get all values and key seprately
dict= {'Name':'Shiwam','Roll No': 58, 'class':"Ml" , 'Marks':12}
print(dict.keys())
print(dict.values())

dict_keys(['Name', 'Roll No', 'class', 'Marks'])
dict_values(['Shiwam', 58, 'Ml', 12])

In [70]:
# take two dict create by constructor method merge both dict
d={"a":1,"b":2}
print(d)
d1={1:"a",2:"b"}
print(d1)
# d3=d.update(d1)  not allow

{'a': 1, 'b': 2}
{1: 'a', 2: 'b'}

In [71]:
# remove an item by key
# remove a item  by key return value
# remove and return last key value pair
# empty all dict
person={"Name":"Shiwam","Age":20}
print(person)

person.pop("Name")
a=person.popitem()
print(a)
print(person)
person.clear()
print(person)

{'Name': 'Shiwam', 'Age': 20}
('Age', 20)
{}
{}

In [72]:
'''
wap take a name of marks of three student as input and store in the dict
wap to check if a given key exist in a dict if the key exist print its value othewise print keys not found
wap that take a sentence from the user and count thr frquence of each word usin a dict
create a dict of empolyes with their selary take an empoly name as input and update their salary print dict
wap to merge two dict

'''
# wap take a name of marks of three student as input and store in the dict
a=input("Enter the 1st subject: ")
b=input("Enter the 2nd subject: ")
c=input("Enter the 3rd subject: ")
dict={"science":a, "maths":b, "english":c}
print(dict)

{'science': 'Java', 'maths': 'Python', 'english': 'C'}

In [73]:
# wap to check if a given key exist in a dict if the key exist print its value othewise print keys not found
dict = {'a': 1, 'b': 2, 'c': 3, 4:"d"}
key =input("Enter the key : ")
if key in dict:
    print(f"The value of key '{key}' is: {dict[key]}")
elif key.isdigit() and int(key) in dict:
    print(f"The value of key '{key}' is: {dict[int(key)]}")
else:
    print(f"The key '{key}' does not exist in the dictionary.")

The key '1' does not exist in the dictionary.

In [74]:
# wap that take a sentence from the user and count thr frquence of each word usin a dict
sentence = input("Enter a sentence: ")
word_count = {}
words = sentence.split()
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
print("Word frequency:", word_count)

Word frequency: {'Hello': 1, 'world': 1}

In [75]:
# create a dict of empolyes with their selary take an empoly name as input and update their salary print dict
emp_sal={'a':100,'b':200}
key=input("Enter the key: ")
emp_sal.update({key:int(input("input the new sal :"))})
print(emp_sal)

{'a': 1513633, 'b': 200}

In [76]:
# wap to merge two dict
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
meeged_dict={**dict1,**dict2}
print(meeged_dict)
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [77]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(  myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [78]:
'''
SETS : number in sequence simple a values no keys
unorder, Imutable , no duplicate value, allow any type of value
'''
a={1,2,"name"} # mutable two set can be merge but not change index value
b={(1,2,3),"std"}
# a!={[1,2],{1:2}} #not store dict, and list
# set{}
s=set()
a.add("shiwam")
a.add("name")  # skip duplicate value
b.add("class")
print(a)
print(b)
for x in a: # oprator to chech the value
 print(x)

{1, 2, 'shiwam', 'name'}
{'class', (1, 2, 3), 'std'}
1
2
shiwam
name

In [79]:
a={('int', 9),('float',9.0)} # to see uniqe value put type
print(a)
for x in a:
  print(x)
len(a)
a.union
print(a)

{('float', 9.0), ('int', 9)}
('float', 9.0)
('int', 9)
{('float', 9.0), ('int', 9)}

In [80]:
a={1,2,3,4,4,5,5,7}
b={2,2,3,3,4,4,5,5,6} # set union
d=(1,2,3)
# x=a.union(d) # tupl also can
# y=a.intersection(b)
# z=a.difference(b)
# z=a-b # difference
# z=a.symmetric_difference(b) # symmetric difference
z=a^b  # symmetric difference
print(z)

{1, 6, 7}

In [81]:
colour={"red","green","blue","yellow","white"}
colour.add("orange")
colour.remove("red")
colour.add("black")
if "black" in colour:
  print("it is present")
else:
  print("it is not present")
print(colour)

it is present
{'yellow', 'orange', 'green', 'blue', 'white', 'black'}

In [82]:
colour={"red","green","blue","yellow","white"}
colour2={"red","blue","white","black"}
# colour.union(colour2)
# colour.difference(colour2)
# colour.difference_update(colour2) #remove another values present in set
# print(colour)
# d=colour.pop()
# print(colour)
# print(d)
# c=colour.isdisjoint(colour2)
# print(c)
# a=colour.issubset(colour2)
# print(a)
# b=colour2.issubset(colour)
# print(b)
colour.update(colour2) #update use for always in numerical value , direct through the data variable not store in variable
print(colour)

{'green', 'blue', 'white', 'black', 'yellow', 'red'}

In [83]:
''' Booleans ,True : false '''
x=234
y=133
z=x>y
print(z)

True

In [84]:
'''
if else statement
ML start by this if else and looping,
'''
a=input("Enter the Number ")
b=input("Enter the Number")
if a>b:
  print("Good")
elif a<b:
  input("Excelent : ")
else:
  print("Bad")

Good

In [85]:
light=input("light : ")
if(light=="Red"):
  print("Stop")
elif(light=="Yellow"):
  print("Ready")
elif(light=="Green"):
  print("Go")
else:
  print("Give MeaningFull Input")

Give MeaningFull Input

In [86]:
# Check the number is even or odd
user=int(input("Enter the Number"))
if(user/2==0):
  print("The Number is Even")
else:
  print("The Number is odd")

The Number is odd

In [88]:
#Find the gratest of three number
a=float(input("Enter the Number"))
b=float(input("Enter the Number"))
c=float(input("Enter the Number"))
if a>b and a>c
  print(f"The NUmber is :" (a))
elif b>c
  print(f"Gratest")
else:
  print(f"Gratest")

SyntaxError: expected ':' (436955829.py, line 5)

In [ ]:
#check if the number is multple by 7
a=int(input("Enter the number"))
if a/7 ==0:
  print(f"Nuber is divisible by 7")
else:
  print(f"Nuber Is not Divisible By 7")

Enter the number54
Nuber Is not Divisible By 7

In [ ]:
# if the number + and - or
x=int(input(f"Enter the number"))
if x >=0:
  if x >0:
    print("The Number Is Positive")
  else:
    print("The Number Is Zero")
else:
  print("The Number Is Negative")

Enter the number44
The Number Is Positive

In [ ]:
# year=int(input("Enter the Year"))
# if (year%4==0):
#   if (year%100!=0):
#     if(year%400==0):
#       print(f"It is a Leap Year")
#     else:
#       ("It is not a Leap Year")

year=int(input("Enter year to be checked:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("The year is a leap year!")
else:
    print("The year isn't a leap year!")

Enter year to be checked:2100
The year isn't a leap year!

In [ ]:
# For loop
x=[1,2,3,4,5]
# for i  in x:
#   print(i)
for i in range(0,10):
  if(i == 8):
    print(i)
    break;
  print(i)

0
1
2
3
4
5
6
7
8

In [ ]:
values=[100,200,300,400,500]
for x in values :
  if (x=="200"):
    break
print(x)

500

In [ ]:
#wap print 1 tp 10
values=[1,2,3,4,5,6,7,8,9,10]
for x in values:
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Stop printing when the number reaches 5

for i in range(0,10):
   if(i==5):
    break
   print(i)

0
1
2
3
4

In [ ]:
# skip number 5 while printing 1 to 10
for i in range(0,10):
   if(i==5):
    continue
   print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
# find the 1st even number then break
x=[3,5,7,8,11,13]
for i in x:
   if(i%2==0):
    print(i)
    break

8

In [ ]:
# odd and continue
x=[3,5,7,8,11,13]
for i in x:
   if(i%2!=0):
    print(i)
    continue

3
5
7
11
13

In [ ]:
# Nested loop
# Multiply multiplication
for i in range(1,5):
 for j in range(1,10):

1
2
3
4
2
4
6
8
3
6
9
12
4
8
12
16

In [ ]:
#patter

for i in range(1,6):
  for j in range(i):
    print("*",end=(' '))
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
#
for i in range(1,6):
  for j in range(i):
    print("*",end=(' '))
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [ ]:
#Reversecounting from 20 to 1
for i in range(0,20):
  print(20-i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#Print Fabonaci series
user=int(input("Enter the Number : "))
user2=int(input("Enter the Number : "))
for i in range(user,user2):
  if (i==0):
    print()

Enter the Number : 5
Enter the Number : 3

In [ ]:
#print prime number
num=int(input("Enter the Number : "))
if num > 1:
    for i in range(2, (num//2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter the Number : 10
10 is not a prime number

In [ ]:
'''

# Factorialof a number
#Count vovels in the string
#Reversed the sring using for loop
#Multipilication  table of a number
#Sum of first ten natural number

'''

'\n\n# Factorialof a number \n#Count vovels in the string\n#Reversed the sring using for loop\n#Multipilication  table of a number \n#Sum of first ten natural number \n\n'

In [ ]:
# Factorialof a number
x=int(input("Enter the Number"))
for i in range(x,1,-1):
  x=x*(i-1)
print(x)

120

In [ ]:
'''#While Loop
infinite upto true condition
'''
i = 1
while i < 6:
  if i==3:
    break
  print(i)
  i += 1

1
2

In [ ]:
#Print number from 1 to 100
i=1
while i<=100:
  print(i)
  i +=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
'''Multiplication using  While loop '''
# print the multiplication table of number n
multiplier = int(input("enter the number"))
counter = 1
while counter <= 10:
  # result = counter * multiplier
  print(f"{multiplier} x {counter} = {counter * multiplier}")            # 2 * 1 = 2
  counter+=1

''' Multiplication using  For loop '''
# multiplier = int(input("enter the number"))
# counter = [1,2,3,4,5,6,7,8,9,10]
# for i in counter:
#   print(f"{multiplier} x {i} = {i*multiplier}")

enter the number5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

'Multiplication using  For loop '

In [ ]:
#print the element of the following loop in a list
l=[1,4,9,16,25,36,49,64,81,100]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#print nuber 10 to 1
for x in range(10,0,-1):
  print(x)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#find the sum 1st n natural number using while loop
N=int(input("Enter the number : "))
total = 0
count = 1
while count <= N:
    total += count
    count += 1

print(f"The sum 1st natural number :",(total))

Enter the number : 5
The sum 1st natural number : 15

In [ ]:
#substract two number using while loop
num1=int(input("Enter the number"))
num2=int(input("Enter the number"))
res=0
count=num1
while count>=0:
  res= num1-num2
  print(res)
  break

Enter the number5
Enter the number2
3

In [ ]:
''' Functions''' #A function is a block of code that performs a specific task and can be reused multiple times within a program

def my_function():   # def is a keyword used to define a function. #create
  print("Hello from a function") #statement
  return
my_function() #calling function

Hello from a function

In [ ]:
def my_function(a,b):
  s=a+b
  return s
my_function(1,2)

3

In [ ]:
''' Argument
             a)default argument
             b)positional argument
             c)keyword argument
             d)*args (arbitrary) (* args)
             e)**kwargs  (a=5,**b)
'''
def data(name,age=18):
  print({name},{age})
data("Shiwam")
data("Rohit",24)

{'Shiwam'} {18}
{'Rohit'} {24}

In [ ]:
#wap to print the lenghth of a list is a parameter
list_class=(1,2,3,4,5)
def list1(list):
  print(len(list))
list1(list_class)

5

In [ ]:
# wap a function list of element in a single line
list_class=(1,2,3,4,5)
def list1(list):
  # for i in list_class
  # print(i,and," ")
  print(*(list))
list1(list_class)

1 2 3 4 5

In [ ]:
# wap to find factorial of n
def factorial(n):
    if n == 0:
        return 1
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result
factorial(4)

factorial(5)

120

In [ ]:
# wap to number is even or add
def num(a):
  if a/2==0:
    print("The number is odd :"+str(a))
  else:
    print("The number is even :"+str(a))
num(8)
num(9)

The number is even :8
The number is even :9

In [ ]:
# waf to conver usd $ to indian rupees
# exchange-rate=87.79
def convert(a):
    if a>0:
        a=a*87.79
    print(a,"Indian Rupee")
convert(1)   
convert(10)

87.79 Indian Rupee
877.9000000000001 Indian Rupee

In [ ]:
# Python program to illustrate nested functions 
def outerFunction(text): 
    text = text 
  
    def innerFunction(): 
        print(text) 
  
    innerFunction() 
  
if __name__ == '__main__': 
    outerFunction('Hey !')

Hey !

In [ ]:
#Through the function find 
def main(n):
    if(n==1 or n==0):
        return 1
    else:
        return n*main(n-1)
main(5)

120

In [ ]:
# Python 3 program to find
# factorial of given number
import math

def factorial(n):
    return(math.factorial(n))

num = 5
print("Factorial of", num, "is",
      factorial(num))

Factorial of 5 is 120

In [ ]:
# LIst commrihension
# [exp for i in range(1,12) if i%2==0]
# wap to square a number using list comprehension
Square =()
Square =[i**2 for i in range(0,10)]
even_square=[num for num in Square if num%2 ==0]
First2_even_square=[num for num in even_square ]

print(even_square)

[0, 4, 16, 36, 64]

In [ ]:
# Creating a list of tuples9(number and square)
x=[()]
Square =[(i, i**2) for i in range(5)]
x=Square
print(x)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [ ]:
# coverting a list in upper case
x=("Shiwam","Rohit","Abisek")
upper_case =[x.upper() for x in x]
print(upper_case)

['SHIWAM', 'ROHIT', 'ABISEK']

In [ ]:
# Flatining The Nested List
nested_list=[[1,2,3],[4,5,6],[7,8,9]]
convert_=[]
print(convert_)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
'''
#create a list of cubes for numbers 1 to 10 using list comprehention
#filter prime numbers from a list[2,3,4,5,6,7,8,9,10]
#create a list of tuples where each tuple contain a number and its square root for numbers one to five 
#flatten a 2d list using list comprehention
#write s function that takes a list of number and return a list of thier square
#write a function that takes a sentence as input and returna llist of words 
#WAF that removes all vowels from a given string using list comprehention
'''

In [ ]:
# create a list of cubes for numbers 1 to 10 using list comprehention
l = [1, 2, 3, 4]

def cube_list_recursive(lst):
	if len(lst) == 0:
		return []
	else:
		return [lst[0]**3] + cube_list_recursive(lst[1:])

# Cube List using loop
res = cube_list_recursive(l)

# printing result
print(res)

[1, 8, 27, 64]

In [ ]:
# filter prime numbers from a list[2,3,4,5,6,7,8,9,10]
def is_prime(n):
    if n < 2:
        return False
    return all(n % i != 0 for i in range(2, int(n**0.5) + 1))

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
prime_numbers = [num for num in numbers if is_prime(num)]

print(prime_numbers)

[2, 3, 5, 7]

In [ ]:
#create a list of tuples where each tuple contain a number and its square root for numbers one to five 

numbers = [1, 2, 3, 4, 5]
squares = [(i, i**2) for i in numbers]

print(squares)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
'''Python Lambda'''
'''A lambda function is a small anonymous function.'''
x = lambda a : a * 10 
print(x(5))

50

In [ ]:
x = [lambda arg=a : arg*10 for a in range(1,10)]
for i in x:
  print(i())

10
20
30
40
50
60
70
80
90

In [ ]:
# even or odd
x = lambda arg: "even" if arg%2==0  else "Odd" 
print(x(7))

Odd

In [ ]:
def square():
    return lambda n:n**2
y=square()
print(y(6))

36

In [ ]:
# Find the maximum of two numbers 
maximum = lambda a ,b : a if a>b else b
print(maximum(6,7))

7

In [ ]:
# reverse a string using lambda
reverse= lambda a :a[::-1]
print(reverse('Shiwam'))

mawihS

In [ ]:
# sort a list of tuples by secound element

In [ ]:
data= [(1,3),(4,2),(3,5)]
sorted_list = sorted(data,key =lambda x:x[1])
print(sorted_list)

[(4, 2), (1, 3), (3, 5)]

In [ ]:
list =[1,2,3,4,5,6,7,8,9]
# even_number =

In [ ]:
# Find a factorial of a number using Recursion 
fact = lambda a: i in range(1, a + 1) 
print(fact(4))

False

In [ ]:
# Find the length of a  string using recursion
lenth = lambda a: len(a)
print(lenth("Shiwam"))

6

In [ ]:
# Find the grater of three number
graterThree= lambda a, b , c : a if a>b and a>c else (b if b>c  else c)
print(graterThree(1,2,3))

3

In [ ]:
# extract the First charof string
char =  lambda a : a[0]
print(char('Shiwam'))

S

In [ ]:
# Swap two variable
swap1 =  lambda a,b :(b,a)
print(swap1(2,3))

(3, 2)

In [ ]:
# Function to convert a list of str to integer 
def convert_to_int(lst):
    return [int(num) for num in lst]

str_list = ["1", "2", "3", "4", "5"]
int_list = convert_to_int(str_list)

print(int_list)

[1, 2, 3, 4, 5]

In [ ]:
def convert_to_int(lst):
    return list(map(int, lst))

# Example usage
str_list = ["1", "2", "3", "4", "5"]
int_list = convert_to_int(str_list)

print(int_list)

[1, 2, 3, 4, 5]

In [ ]:
# Funtion to filter out missing  data
def filter_missing_data(lst):
    return list(filter(lambda x: x not in (None, "", float('nan')), lst))
data =["abc" , " " , "def" , " " , "efg"]
print(filter_missing_data(data))
'''
def filter_missing_data(data):
    return list(filter(lambda x:x.strip() !=""))

data =["abc" , " " , "def" , " " , "efg"]
print(filter_missing_data(data))

    '''

['abc', ' ', 'def', ' ', 'efg']

'\ndef filter_missing_data(data):\n    return list(filter(lambda x:x.strip() !=""))\n\ndata =["abc" , " " , "def" , " " , "efg"]\nprint(filter_missing_data(data))\n\n    '

In [ ]:
# Function to captalized the first letter of name
def capitalize_names(names):
    return list(map(str.capitalize, names))

name_list = ["shiwam", "SHIWAM", "sahil"]
print(capitalize_names(name_list))  # Output: ['John', 'Alice', 'Michael']

['Shiwam', 'Shiwam', 'Sahil']

In [ ]:
# function to short a list of tuples emp sal data
def sort_employees_by_salary(emp_list):
    return sorted(emp_list, key=lambda x: x[1])  

employees = [("abc", 500), ("bcd", 88000), ("efg", 7500)]

sorted_employees = sort_employees_by_salary(employees)

print(sorted_employees)

[('abc', 500), ('efg', 7500), ('bcd', 88000)]

In [ ]:
# function to count word frequence in a text

from collections import Counter

def word_frequency(text):
    words = text.lower().split()  
    return Counter(words)

text = "My Name is Shiwam Kumar, My son name is abi"
word_counts = word_frequency(text)

print(word_counts)

Counter({'my': 2, 'name': 2, 'is': 2, 'shiwam': 1, 'kumar,': 1, 'son': 1, 'abi': 1})

In [ ]:
def word_frequency(text):
    words = text.lower().split()
    freq = {}
    for word in words:
        freq[word] = freq.get(word, 0) + 1
    return freq

# Example usage
print(word_frequency("My Name is Shiwam Kumar, My son name is abhi"))

{'my': 2, 'name': 2, 'is': 2, 'shiwam': 1, 'kumar,': 1, 'son': 1, 'abhi': 1}

In [ ]:
# function the fiter the emp with salary grater then 50k
def sort_employees_by_salary(emp_list):
    return [emp for emp in emp_list if emp[1] >= 50000]

employees = [("abc", 50000), ("bcd", 8000), ("efg", 75000)]

sorted_employees = sort_employees_by_salary(employees)

print(sorted_employees)

[('abc', 50000), ('efg', 75000)]

In [ ]:
# function to merge two data set based on there id
students = [(1, "abc"), (2,"bcd"), (3,"efg")]
marks = [(1, 50), (2,60), (3,80)]

merged_data = list(map(lambda s: (s[0], s[1], dict(marks)[s[0]]), students))

print(merged_data)

[(1, 'abc', 50), (2, 'bcd', 60), (3, 'efg', 80)]

In [ ]:
# function to find commmon element in  2 list
def common_elements(list1, list2):
    return list(set(list1) & set(list2))

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

print(common_elements(list1, list2))

[4, 5]

In [ ]:
def common_elements(list1, list2):
    return [item for item in list1 if item in list2]

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

print(common_elements(list1, list2))

[4, 5]

In [ ]:
remove_duplicates = lambda lst: list(dict.fromkeys(lst))

numbers = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(numbers))

[1, 2, 3, 4, 5]

In [ ]:
# function to remove duplictes  from a list
def remove_duplicates(lst):
    return list(set(lst))

numbers = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(numbers))

[1, 2, 3, 4, 5]

In [ ]:
# function to normalized a list of prices

def normalize_prices(prices):
    min_price = min(prices)
    max_price = max(prices)
    return [(p - min_price) / (max_price - min_price) for p in prices]

prices = [100, 200, 300, 400, 500]
normalized_prices = normalize_prices(prices)

print(normalized_prices)

[0.0, 0.25, 0.5, 0.75, 1.0]

In [ ]:
# function to mask sensetive data
phoneNo= ['59559595959','8585858585']

def maskNo(x):
    return list[map(lambda x:x[:-4]+'****',phoneNo)]
x= maskNo(phoneNo)
print(x)

list[<map object at 0x000001998D0D4250>]

In [ ]:
def mask_credit_card(card_number):
    return '*' * (len(card_number) - 4) + card_number[-4:]

print(mask_credit_card("1234567812345678"))  # ************5678

************5678

In [ ]:
# function to extract email from the dataset
def extract_emails_from_list(data_list):
    email_pattern = r'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'
    return [email for text in data_list for email in re.findall(email_pattern, text)]

# Example usage
dataset = [
    "John's email is john.doe@example.com",
    "Contact: support@company.com",
    "No email here",
    "Another one: sales@shop.org"
]

emails = extract_emails_from_list(dataset)
print(emails)  
# ['john.doe@example.com', 'support@company.com', 'sales@shop.org']

# function to read data from a file

NameError: name 're' is not defined

In [ ]:
'''
Scope of a Variable is the block of code in the entier program were variable is declesre , 
use and modified
Life time of a varibale is the through out time the variable is exits in the memory 

Global and Local
    Global variableare define and decleared out side the function and are not spacified to 
    any function they can be used by any part of the program 
    ex -- s="I am global variable"
    def f():
        print(s)
    f()
    Output: I am global variable    
    Local variable are those ie are initialized with in the function and are Unique to that funtion
    ex -- 
    def f():
        s="I am global variable"
        print(s)
    f()
    Output: I am global variable 

   
    '''

In [ ]:
''' Generators in Python
'''
# def myFunc():
#   yield "Hello"
#   yield 51
#   yield "Good Bye"

# x = myFunc()

# for z in x:
#   print(z)
def counter():
    i=1
    while i<=10:
        yield i
        i+=1
print(counter)
x=counter()
print(next(x))
print(next(x))

for z in x:
    print(z)

<function counter at 0x000001998D7AA200>
1
2
3
4
5
6
7
8
9
10

In [ ]:
# Use Geneartor to find even number 

def even_numbers(n):
    for i in range(0, n + 1, 2):  
        yield i

evens = even_numbers(10)
print(list(evens))

[0, 2, 4, 6, 8, 10]

In [ ]:
# to yield prime number 
def prime_numbers(n):
    def is_prime(num):
        if num < 2:
            return False
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                return False
        return True

    for num in range(2, n + 1):
        if is_prime(num):
            yield num

primes = prime_numbers(20)
print(list(primes))

[2, 3, 5, 7]

In [ ]:
# filter data in odd number using yield
def odd_numbers(nums):
    for num in nums:
        if num % 2 != 0:  
            yield num

num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_gen = odd_numbers(num_list)

print(list(odd_gen))

[1, 3, 5, 7, 9]

In [ ]:
# using Generator funtion sum of square of even number o to 9

# for i in range(10):
#     if i%2==0

def square_of_even_numbers():
    for num in range(10):  # Numbers from 0 to 9
        if num % 2 == 0:   # Check if even
            yield num ** 2  # Yield square of even number
            print(num)
# Compute the sum of squares of even numbers
sum_of_squares = sum(square_of_even_numbers())
print(sum_of_squares)  # Output: 120

0
2
4
6
8
120

In [ ]:
# check if any number is grater then 5
def is_any_greater_than_five(numbers):
    return any(num > 5 for num in numbers)

# Example usage
num_list = [1, 2, 3, 4, 5]
print(is_any_greater_than_five(num_list))

False

In [ ]:
def is_any_greater_than_five(numbers):
    return all(num > 0 for num in numbers)

num_list = [1, 2, 3, 4, 5, 6, 7]
print(is_any_greater_than_five(num_list))

True

In [ ]:
words = ["Python", "Java"]
joined_words = " ".join(words)  # Joins with a space
print(joined_words)  # Output: Python Java

Python Java

In [ ]:
'''Decorator
A decorator is essentially a function that takes another function as an argument and returns 
a new function with enhanced functionality.
'''
# A simple decorator function
def decorator(func):
  
    def wrapper():
        print("Before calling the function.")
        func()
        print("After calling the function.")
    return wrapper

# Applying the decorator to a function
@decorator

def greet():
    print("Hello, World!")

greet()

Before calling the function.
Hello, World!
After calling the function.

In [ ]:
def decorator(func):
  
    def wrapper():
        print("Before calling the function.")
        func()
        print("After calling the function.")
    return wrapper

# Applying the decorator to a function
@decorator

def greet():
    print("Hello, World!")

greet()

Before calling the function.
Hello, World!
After calling the function.

In [ ]:
# A higher-order function that takes another function as an argument
def fun(f, x):
    return f(x)

# A simple function to pass
def square(x):
    return x * x

# Using apply_function to apply the square function
res = fun(square, 5)
print(res)

25

In [ ]:
'''Python Classes and Objects
'''
# Create a Class
class MyClass:
  x = 5
# Create Object
p1 = MyClass()
print(p1.x)

5

In [ ]:
# The __init__() Function
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
# The __str__() Function
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x000001998D705BE0>

In [ ]:
# Oops
class student:
    def __init__(self,fullname,marks,rollNo):
        self.name = fullname
        self.marks= marks
        self.rollNo= rollNo

s1 = student("Shiwam",85,12)
print(s1.name,s1.marks,s1.rollNo)

Shiwam 85 12

In [ ]:
# create a class of a person with atribute name and age 
# write a method greet() that print the greeting method including person name
class person:
    def __init__(self,name,age):
        self.name = name
        self.age= age

    def greet(self):
        print("Welcome",s1.name,"Your Age ",s1.age)

s1 = person("Shiwam",20)
s1.greet()

Welcome Shiwam Your Age  20

In [ ]:
# create a bnak ac class with Attribute ac holder and balance 
# implement method to deposite and widrow money
class BankAccount:
    def __init__(self, holder_name, balance=1000):
        self.holder_name = holder_name
        self.balance = balance

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited ${amount}. New Balance: {self.balance}")
        else:
            print("Deposit amount must be positive.")

    def withdraw(self, amount):

        if 0 < amount <= self.balance:
            self.balance -= amount
            print(f"Withdrawn ${amount}. New Balance: {self.balance}")
        elif amount > self.balance:
            print("Insufficient funds.")
        else:
            print("Withdrawal amount must be positive.")

    def get_balance(self):
        return self.balance

account = BankAccount("Shiwam",10000 )
account.deposit(500)    # Deposited $500. New Balance: $1500
account.withdraw(300)   # Withdrawn $300. New Balance: $1200
account.withdraw(2000)  # Insufficient funds.
print(account.get_balance())  # 1200

Deposited $500. New Balance: 10500
Withdrawn $300. New Balance: 10200
Withdrawn $2000. New Balance: 8200
8200

In [ ]:
# create a book class title author and price implement that return the book details

# class book:
#     def __init__(self,title,author,price):
#         self.title=title
#         self.author=author
#         self.price=price
class Book:
    def __init__(self, title, author, price):
        """Initialize Book attributes."""
        self.title = title
        self.author = author
        self.price = price

    def get_details(self):
        """Return formatted book details."""
        return f"📖 Title: {self.title}\n👨‍💼 Author: {self.author}\n💰 Price: ${self.price:.2f}"

# Example usage
book1 = Book("The Great Gatsby", "F. Scott Fitzgerald", 10.99)
print(book1.get_details())

book2 = Book("Python Crash Course", "Eric Matthes", 29.99)
print(book2.get_details())

📖 Title: The Great Gatsby
👨‍💼 Author: F. Scott Fitzgerald
💰 Price: $10.99
📖 Title: Python Crash Course
👨‍💼 Author: Eric Matthes
💰 Price: $29.99

In [ ]:
# create a circle class with atributes radis imp clculate area functin and cal cicumfarace
class Circle:
    PI = 3.1416  # Approximate value of π

    def __init__(self, radius):
        self.radius = radius

    def calculate_area(self):  #pi r^2
        return Circle.PI * self.radius * self.radius

    def calculate_circumference(self):
        return 2 * Circle.PI * self.radius  #2 pie r

# Example usage
circle1 = Circle(5)

print(f"Area: {circle1.calculate_area():.2f}")  # Output: 78.54
print(f"Circumference: {circle1.calculate_circumference():.2f}")  # Output: 31.42

Area: 78.54
Circumference: 31.42

In [ ]:
# create a student with attributes name masrks (list) cal average function that return avg marks
class Student:
    def __init__(self, name,marks):
        self.name = name
        self.marks=marks

    def calculate(self): 
        if not self.marks:  # Check if marks list is empty
            return 0 
        return sum(self.marks) / len(self.marks)

# Example usage
student1 = student("Shiwam",[85, 90, 78, 92, 88])

print(f"📚 Student: {student1.name}")
print(f"📊 Average Marks: {student1.calculate():.2f}")  # Output: 86.60

student2 = Student("Bob", [])
print(f"📚 Student: {student2.name}")
print(f"📊 Average Marks: {student2.calculate():.2f}")  # Output: 0.00

📚 Student: Shiwam
📊 Average Marks: 86.60
📚 Student: Bob
📊 Average Marks: 0.00

In [ ]:
# Inheritance
# Inheritance allows us to define a class that inherits all the methods and properties from another class.
class Person:
    def __init__(self,fname,lname):
     self.firstName=fname
     self.lastName=lname

    def printname(self):
     print(self.firstName,self.lastName)  

x = Person("Shiwam","Verma")
x.printname()

Shiwam Verma

In [ ]:
# create a parrent class vehchile and child class car inhar model milage
class vehicle:
    def __init__(self,brand,year):
        self.brand= brand
        self.year=year

class car(vehicle):
    def __init__(self, brand, year,model,millage):
        super().__init__(brand, year)
        self.model=model
        self.millage=millage


obj  = car("HONDA",2022,"AMAZE",17)
print(obj.brand,obj.model,obj.year,obj.millage)

HONDA AMAZE 2022 17

In [ ]:
# bank_acc
# adress
# user_name
# password
# social_media
# id
class Parent1:

    def __init__(self, bank_acc, address):
        self.__bank_acc = bank_acc
        self.address = address

    def method1(self):
        print("Method from Parent1")


    def get_bank_acc(self):  # Getter for private attribute
        return self.__bank_acc


class Parent2:
    def __init__(self,user_name,password):
       self.user_name = user_name
       self.__password = password
       
    def method2(self):
        print("Method from Parent2")

    def get_password(self):  # Getter for private attribute
        return self.__password  # Hides actual password for security   


class Child(Parent1, Parent2):  # Multiple inheritance

    def __init__(self, bank_acc, address,user_name,password,social_media,id):
        Parent1.__init__(self, bank_acc, address)  # Correct call
        Parent2.__init__(self, user_name, password)
        
        self.social_media=social_media
        self.id=id

    def method3(self):
        print("Method from Child")



obj = Child("1234567890", "New York", "Shiwam Kumar", "securePass123", "@shiwam", "ID12345")
obj.method1()  # Inherited from Parent1
obj.method2()  # Inherited from Parent2
obj.method3()  # Child class method

print(obj.get_bank_acc())
print(obj.get_password())

Method from Parent1
Method from Parent2
Method from Child
1234567890
securePass123

In [ ]:
class Parent1:
    def __init__(self, bank_acc, address):
        self.__bank_acc = bank_acc  # Private attribute
        self.address = address

    def method1(self):
        print("Method from Parent1")

    def get_bank_acc(self):  # Getter for private attribute
        return self.__bank_acc


class Parent2:
    def __init__(self, user_name, password):
        self.user_name = user_name
        self.__password = password  # Private attribute

    def method2(self):
        print("Method from Parent2")

    def get_password(self):  # Getter for private attribute
        return "******"  # Hides actual password for security


class Child(Parent1, Parent2):  # Multiple inheritance
    def __init__(self, bank_acc, address, user_name, password, social_media, id):
        Parent1.__init__(self, bank_acc, address)  # Correct call
        Parent2.__init__(self, user_name, password)  # Correct call

        self.social_media = social_media
        self.id = id

    def method3(self):
        print("Method from Child")


# # Creating an object with required arguments
obj = Child("1234567890", "New York", "Shiwam Kumar", "securePass123", "@shiwam", "ID12345")

# obj.method1()  # Inherited from Parent1
# obj.method2()  # Inherited from Parent2
# obj.method3()  # Child class method
obj._Parent2__password

# Accessing values (private attributes via getter methods)
# print("Bank Account:", obj.get_bank_acc())  # Output: Bank Account: 1234567890
# print("Password:", obj.get_password())  # Output: Password: ******
# print("Username:", obj.user_name)  # Output: john_doe
# print("Social Media:", obj.social_media)  # Output: @johndoe

'securePass123'

In [ ]:
# Parent class
class Vehicle:
    def _init_(self, brand):
        self.brand = brand

    def show_brand(self):
        print(f"Vehicle Brand: {self.brand}")

# Child class 1
class Car(Vehicle):
    def _init_(self, brand, model):
        super()._init_(brand)
        self.model = model

    def show_details(self):
        print(f"Car Model: {self.model}")

# Child class 2
class Bike(Vehicle):
    def _init_(self, brand, type):
        super()._init_(brand)
        self.type = type

    def show_details(self):
        print(f"Bike Type: {self.type}")

In [ ]:
# Python program to demonstrate
# multiple inheritance

# Base class1
class Mother:
	mothername = ""

	def mother(self):
		print(self.mothername)

# Base class2

class Father:
	fathername = ""

	def father(self):
		print(self.fathername)

# Derived class

class Son(Mother, Father):
	def parents(self):
		print("Father :", self.fathername)
		print("Mother :", self.mothername)


# Driver's code
s1 = Son()
s1.fathername = "RAM"
s1.mothername = "SITA"
s1.parents()

Father : RAM
Mother : SITA

In [ ]:
# multilevel inheritance

# Base class
class GrandFather:
    def __init__(self,grandFathername):
        self.grandFathername=grandFathername

# Intermediate class
class Father(GrandFather):
    def __init__(self, fathername, grandFathername):
        self.fathername=fathername

        GrandFather.__init__(self,grandFathername)

# Derived class
class Son(Father):
    def __init__(self,sonname, fathername, grandFathername):
        self.sonname=sonname

        Father.__init__(self,fathername,grandFathername)

    def display_name(self):

        print("GrandFather Name :",self.grandFathername)
        print("Father Name      :",self.fathername)
        print("Son Name         :",self.sonname)

obj=Son("Sahil","Shiwam","Sanjay Kumar Verma")
print(obj.grandFathername)
obj.display_name()

Sanjay Kumar Verma
GrandFather Name : Sanjay Kumar Verma
Father Name      : Shiwam
Son Name         : Sahil

In [ ]:
# Hierarchical inheritance

# Base class
class Parent:
    def __init__(self):
        print("This class is Parent Class")

class child1(Parent):
    def __init__(self):
        print("This class is Parent Class")

In [ ]:
# drived class grad parnt

#  p   p1 ==ch1, ch2, 
#     p2== ch3, ch4

class staff:           #Parent 1
    def __init__(self,department):
        self.department=department
        
    def display(self):
        print(f"Staff Of Department: {self.department}")


class teaching(staff):   #Child_1  of parent_1
    def __init__(self,department,subject):
        super().__init__(department)
        self.subject=subject

class non_teaching(staff):   #Child_2  of parent_1
    def __init__(self,department,cource):
        super().__init__(department)
        self.cource=cource
        
'''Second Class'''

class staff:           #Parent 2
    def __init__(self,department):
        self.department=department
        
    def display(self):
        print(f"Staff Of Department: {self.department}")


class teaching(staff):   #Child_1  of parent_1
    def __init__(self,department,subject):
        super().__init__(department)
        self.subject=subject

class non_teaching(staff):   #Child_2  of parent_1
    def __init__(self,department,cource):
        super().__init__(department)
        self.cource=cource